div#container {
    width: 800px;
    margin: 20px auto;
    border: 1px #e5e5e5 solid;
}

header {
    padding-bottom: 8px;
    padding-left: 8px;
    border-bottom: 1px #e5e5e5 solid;
}

header h1 {
    margin-bottom: 0;
    margin-top: 5px;
}

div#game {
    width: 800px;
    height: 525px;
    background-color: #F5F5F5;
}

div#game form#login, div#game div#network-message {
    width: 400px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 200px;
}

div div#game form#login input {
    margin: 3px;
}

button#find-new-opponent {
    display: block;
    margin: 3px auto;
}

div#player-names {
    width: 100%;
    font-size: 16px;
}

span#opponent-name {
    float: left;
}

span#player-name {
    float: right;
}