html, body {
    color: #FFF;
    background: #060f3c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2MGYzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzBkMTM0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBkMTM0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzNhMWE0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #060f3c 0%, #0d1344 25%, #0d1344 50%, #3a1a49 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#060f3c), color-stop(25%,#0d1344), color-stop(50%,#0d1344), color-stop(95%,#3a1a49)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* IE10+ */
    background: linear-gradient(to bottom,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060f3c', endColorstr='#3a1a49',GradientType=0 ); /* IE6-8 */
}

div#container {
    width: 800px;
    margin: 20px auto;
}

header {
    padding-bottom: 8px;
    padding-left: 8px;
}

header h1 {
    margin-bottom: 0;
    margin-top: 5px;
}

div#game {
    width: 800px;
    height: 525px;
    background-color: rgba(20, 20, 20, 0.15);
    border: 1px solid rgba(20, 20, 20, 0.2);
}

div#game form#login, div#game div#network-message {
    width: 400px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 200px;
}

div div#game form#login input {
    margin: 3px;
}

button#find-new-opponent, button#play-again {
    display: block;
    margin: 3px auto;
}

div#player-names {
    width: 100%;
    font-size: 16px;
}

span#opponent-name {
    float: left;
}

span#opponent-score {
    float: left;
}

span#player-name {
    float: right;
}

span#player-score {
    float: right;
}