@font-face {
    font-family: 'arista_2.0_lightregular';
    src: url('fonts/arista2.0_light-webfont.eot');
    src: url('fonts/arista2.0_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/arista2.0_light-webfont.woff') format('woff'),
    url('fonts/arista2.0_light-webfont.ttf') format('truetype'),
    url('fonts/arista2.0_light-webfont.svg#arista_2.0_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('fonts/champagne__limousines-webfont.eot');
    src: url('fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/champagne__limousines-webfont.woff') format('woff'),
    url('fonts/champagne__limousines-webfont.ttf') format('truetype'),
    url('fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'champagne__limousinesregular';
    color: #FFF;
    background: #060f3c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2MGYzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzBkMTM0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBkMTM0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzNhMWE0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #060f3c 0%, #0d1344 25%, #0d1344 50%, #3a1a49 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#060f3c), color-stop(25%,#0d1344), color-stop(50%,#0d1344), color-stop(95%,#3a1a49)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* IE10+ */
    background: linear-gradient(to bottom,  #060f3c 0%,#0d1344 25%,#0d1344 50%,#3a1a49 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060f3c', endColorstr='#3a1a49',GradientType=0 ); /* IE6-8 */
}

input[type='text'] {
    font-size: 22px;
    background: transparent;
    border: none;
    border-bottom: 1px dotted #e43053;
    color: #FFF;
    padding: 4px;
    font-family: 'champagne__limousinesregular';
    outline: none;
    min-width: 200px;
    transition: all 333ms;
    letter-spacing: 1px;
}

input[type='text']:focus {
    border-bottom: 1px solid #e43053;
}

input[type='submit'], button {
    display: inline-block;
    margin: 8px;
    background: transparent;
    border: 1px solid #73e7fd;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 50px;
    padding: 4px 25px;
    color: #73e7fd;
    font-family: 'champagne__limousinesregular';
    transition: all 300ms;
}

input[type='submit']:hover, input[type='submit']:active, button:hover, button:active  {
    box-shadow:  0 0 4px #73e7fd,
                 inset 0 0 3px #73e7fd;
    text-shadow:  0 0 12px #73e7fd;
    transition: all 300ms;
}

div#container {
    width: 800px;
    margin: 20px auto;
}

header {
    padding-bottom: 8px;
    padding-left: 8px;
}

header h1 {
    display: inline-block;
    font-family: 'arista_2.0_lightregular';
    margin-bottom: 0;
    margin-top: -4px;
    font-weight: normal;
    font-size: 52px;
}

header div.streak {
    margin-top: 12px;
}

header div.connections, header div.streak, header div#sfx-toggle {
    clear: right;
    float: right;
    color: #D5D5D5;
    font-weight: bold;
    letter-spacing: 0;
    margin-top: 6px;
}
header div.connections span, header div.streak span {
    font-weight: normal;
}

header div.connections #connection-count, header div#sfx-toggle span.active {
    color: #FFF;
}

header div#sfx-toggle {
    cursor: pointer;
    margin-top: 4px;
}

header div#sfx-toggle span {
    font-size: 15px;
    color: #999;
}

div#game {
    width: 800px;
    height: 525px;
    border: 2px solid #62afc3;
    border-radius: 5px;
    background: #0d1344;
    box-shadow: inset 0 0 200px rgba(0,0,0,0.4);
    transition: all 1s;
}

canvas#pong {
    display: none;
}

div#game.active {
    border: 2px solid #89edfd;
    box-shadow: inset 0 0 200px rgba(0,0,0,0.4),
    0 0 8px #73e7fd,
    inset 0 0 6px #73e7fd;
}

div#game form#login, div#game div#network-message {
    width: 400px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 200px;
    font-size: 22px;
}

button#find-new-opponent, button#play-again {
    display: block;
    margin: 8px auto;
    width: 220px;
}

button#play-again {
    margin-top: 30px;
}

button#find-new-opponent {
    border: 1px solid #e43053;
    color: #e43053;
}

button#find-new-opponent:hover {
    box-shadow:  0 0 4px #e43053,
    inset 0 0 3px #e43053;
    text-shadow:  0 0 12px #e43053;
}

img#loading-animation {
    display: block;
    margin: 3px auto;
}

div#player-names {
    width: 100%;
    font-size: 16px;
}

div.side {
    width: 48%;
    padding: 0;
    margin: 0;
}

div#opponent-name {
    float: left;
    padding: 3%;
}

div#opponent-score {
    margin-top: 2%;
    float: right;
}

div#player-name {
    float: right;
    padding: 3%;
}

div#player-score {
    margin-top: 2%;
    float: left;
}

div.score-light {
    display: none;
    float: left;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 12px;
    border: 2px solid #444;
    margin: 3px;
    transition: all 500ms;
}
div.score-light.active {
    border: 2px solid #e43053;
}