<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/vendor_js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/js/vendor_js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/vendor_js/easeljs-0.7.0.min.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
</head>
<body>

<div id="container">
    <header>
        <h1>Real Time Pong</h1>
        <div class="connections">Users Online: <span id="connection-count">0</span></div>
    </header>
    <div id="game">
        <form id="login">
            <input placeholder="Enter your name" type="text" name="name" id="name" value="" />
            <br />
            <input type="submit" value="Find an Opponent" />
        </form>
        <div id="network-message" style="display: none;"></div>
        <button id="find-new-opponent" style="display: none;">Find a new Opponent</button>
        <canvas id="pong" width="800" height="525"></canvas>
    </div>
    <div id="player-names">
        <div class="side">
            <span id="opponent-name"></span>
            <span id="opponent-score"></span>
        </div>
        <div class="side">
            <span id="player-name"></span>
            <span id="player-score"></span>
        </div>

    </div>
</div>

</body>
</html>