<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/vendor_js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/vendor_js/jquery-1.10.2.min.js"></script>
</head>
<body>

<div id="container">
    <header>
        <h1>Real Time Pong</h1>
        <div class="connections">Users Online: <span id="connection-count">0</span></div>
    </header>
    <div id="game">
        <form id="login">
            <input placeholder="Enter your name" type="text" name="name" id="name" value="" />
            <input type="submit" value="Play" />
        </form>
        <div id="looking-for-opponent" style="display: none;">Looking for opponent...</div>
    </div>
</div>



<script>
    var $connectionCount = $('span#connection-count');
    var $playForm = $('form#login');
    var $action = $('#looking-for-opponent');

    var opponentName;

    var socket = io.connect(window.location.hostname);
    socket.on('connection_count', function (data) {
        $connectionCount.html(data.count)
    });

    $playForm.submit(setupGame);

    function setupGame(e) {
        e.preventDefault();
        showFindGameAnimation();
        var name = $('#name').val();

        socket.on('game_found', function(data) {
            $action.html('Opponent\'s Name: ' + data.opponent.name);
        });

        socket.emit('find_game', {
            name: name
        });
        return false;
    }

    function showFindGameAnimation() {
        $playForm.hide();
        $action.show();
    }

</script>

</body>
</html>